.carrousel {
    width: 50%;
    height: 50%;
    position: fixed;
    transform: scale(0);
    transition: transform .5s;
    background-color: beige;
}

.carrousel-ouvrir{
    transform: scale(1);
}